<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<h1>Edit User</h1>
    <div><a href="/">Go back</a></div>
        <form th:method="POST" th:action="@{/{id}(id=${user.id})}" th:object="${user}">
            <div>
                <label for="name">Name</label>
                <input type="text" placeholder="Enter new name" id="name" th:field="*{name}" />
            </div>
            <div>
                <label for="last_name">Last name</label>
                <input type="text" placeholder="Enter new last name" id="last_name" th:field="*{lastName}" />
            </div>
            <div>
                <label for="role">Role</label>
                <select id="role" th:field="*{role}">
                    <option value="admin">Admin</option>
                    <option value="tester">Tester</option>
                    <option value="author">Author</option>
                    <option value="reader">Reader</option>
                </select>
            </div>
            <button type="submit">Submit</button>
        </form>
</body>
</html>